<div style="text-align: center;">
  <br><h2>Account Details</h2><br>
</div>

<table *ngIf="account!==null" class="table table-borderless table-sm" style="margin: auto;width: 40% !important; ">
  <tbody>
    <tr>
      <td>Account Id </td>
      <td>
          {{account.accountId}}
      </td>
    </tr>
    <tr>
      <td>Account Balance </td>
      <td>
          {{account.accountBalance}}
      </td>
    </tr>
    <tr>
      <td>Account Status </td>
      <td>
          {{account.status}}
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="flag" style="text-align: center;" class="text-danger">
  {{errormsg}}
</div> 



<!-- <div *ngIf="!flag">
    <h3>Account Details</h3>
    Account Id : {{account.accountId}}<br>
    Account Balance : {{account.accountBalance}} <br>
    account Status : {{account.status}}
</div>
<div *ngIf="flag">
    {{errormsg}}
</div> -->

